*{
    box-sizing: border-box;
}
body{

  margin:0px auto;
    text-align: center;
    
}

.welcome{
/*  padding-top: 50px;*/
  background-color: #e4f2f0;

}

.heading{
  margin: 0;
  margin-top:20px;
  font-size: 50px;
  color:#43ab92;
}
.h2{
  margin:0;
  padding-bottom: 20px;
  color:#43ab92;
}


.top-cloud{
  display: block;
  position:relative;
  left:65%;
    padding-top: 0;
    margin-top: 0;
/*    margin-bottom: 70px;*/
}
.name{
  display: block;
  color: #4baea0;
  font-size: 80px;
  font-weight: lighter;
  margin-bottom: 0;
}
.tag{
  display:block;
  margin-top:0px;
  padding-bottom: 60px;
  color: #4baea0;
  font-size:30px;
}
.bottom-cloud{
  display: block;
  position: relative;
  left:25%;
/*  margin-bottom: 30px;*/
}
.me{
  display:block;
  margin:100px auto 50px auto;
  height: 200px;
  border-radius: 50%;
  width:200px;
}
.introduction:hover{
     font-family:'Josefin Slab',serif;
  font-size:40px;
    font-weight: bolder;
}
.intro{
  font-family:'Josefin Slab',serif;
  font-size:30px;
  width:50%;
  line-height:1;
  margin:10px auto;
}

.hr{
  border-width: 7px;
  border-color: #4baea0;
  width: 6%;
  border-style:none;
  border-top-style:dotted;
  margin: 100px auto 0 auto;
}
.skill-row{
  width:60%;
  text-align: center;
  margin: 50px auto;
/*  padding-top:100px;*/

}
p{
  font-family:'Josefin Slab',serif;
  font-size:20px;
  line-height: 2;
  margin:10px auto;
}

.code-img{
  width:200px;
    height: 200px;
 
}

/*---------------------------------*/
.contact-me{
     font-family:'Josefin Slab',serif;
  font-size:40px;
    font-weight: bolder;

}
.btn {
	box-shadow: 0px 0px 0px 2px gold;
	background:linear-gradient(to bottom, #43ab92 5%, #43ab92 100%);
	background-color:#43ab92;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:13px 38px;
  font-family: "Josefin Slab",serif;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: 40px;

}
.btn:hover {
	background:linear-gradient(to bottom, gold 5%,green 100%);
	background-color:green;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{
  padding-top:100px;
  background-color:#e4f2f0;
}
.footer-link{
  color:#66BFBF;
  margin:0px 100px;
  font-family: "Josefin Slab",serif;
  font-size: 30px ;
  text-decoration: none;

}
.footer-link:hover{
  color:gold;
      text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}
.copyright{
  font-size:20px;;
  color:#66BFBF;
}
.copyright:hover{
  padding:50px 30px;
  color:#66BFBF;
}
.mountain{
    text-align: center;
    flex: auto;
    
}
.what-i-can-do:hover {
     font-family:'Josefin Slab',serif;
  font-size:40px;
    font-weight: bolder;
}

.clear {
    clear: both;
}

.skill-img {
    width: 300px;

    float: left;
}

.skill {
    width: 300px;
    display: inline-block;
    float: right;
}

@media screen and (max-width:1000px){
    .skill-row{
      width:80%;
    }
    .skill-img,.skill{
        clear: both;
        float: none;
    }
}