body{
  text-align:center;
  margin:0px;
  background-color: #b2fcff;


}
.introduction{
  padding-top: 100px;
  background-color: #4dd599;
  height: 500px;
}
img{
margin:0;
}
hr{
  border-width: 5px;
  border-color: grey;
  width: 10%;
  border-style:none;
  border-top-style:dotted;
  margin: 0 auto;
}
div{
  margin: 0;
  width:100%;
}
span{
  text-decoration: underline;
}
.education{
 padding-top: 30px;
  background-color: #00918e;
}
.skills{
  padding-top: 30px;
  background-color: #dfcdc3;
}
.welcome{
  background-col or: #b2fcff;
  padding-top: 100px;
  align-items: center;
}

h1{
  margin: 0;
  margin-top:20px;
  font-size: 50px;
}
h2{
  margin:0;
  padding-bottom: 20px;
}
.top-cloud{
  display: block;
  position:absolute;
  padding-top:50px;
  right:20%;
  top:50px;
}
.bottom-cloud{
  display: block;
  position: absolute;
  left:20%;
  top:250px;
}
.name{
  position:relative;
  top:30px;
  text-align: center;
}
.tag{
  position: relative;
  top:30px;
  font-size:20px;

}
.mountain{
  display:block;
  margin:0 auto;
}
.works{
  padding-top: 30px;
  background-color: #1f6650;
  height:500px;

}

.hobbies{
  padding-top: 30px;
  background-color: #6f9a8d;

}

.contact-me{
  padding-top: 30px;

  text-align: center;
  background-color: #537ec5;
}
.profile-img{
  display:block;
  margin:0 auto;
  height: 200px;
  width:200px;
}
.touch-img{
  height:200px;
  width:200px;
}
.computer-img{
display: inline-block;
position: absolute;
height: 250px;
width: 250px;
right:300px;
border-radius: 50%;
}
.soccer-img{
  height: 200px;
  width:200px;
}
.chilli-img{
  height:100px;
  width:100px;
}
ul{
  text-align: left;
  line-height: 2;
  font-size: 20px;
}
p{
  font-size:20px;
}
a{

  font-size: 20px;
}
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:13px 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin-bottom: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#076e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{
  padding-top:50px;
}
.footer-link{
  color:#66BFBF;
  margin:0px 30px;
  text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
}
.copyright{
  font-size:100%;
  color:#66BFBF;
}
.copyright:hover{
  padding:50px 30px;
  color:#66BFBF;
}
